* {
    margin: 0;
    padding: 0;
    font-family: 'Viga', sans-serif;
    line-height: 1.65;
}

a {
    text-decoration: none;
    color: #6495ED;
}

a:hover {
    font-weight: bold;
    color: #93b1e7;
}

#link {
    color: white;
}

html {
    width: 100%;
    height: 100%;
    /* background-attachment: scroll;
    background-size: auto;
    background-position: top; */
}

.headerBox {
    background-color: #7B68EE;
    box-shadow: 0 0px 8px #333333;
    display: flex;
    position : relative;
    padding: 128px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-container {
    width: 100%;
    /* height: 100%; */
    /* min-width: 500px; */
    visibility: hidden;
}

.menu-container {
    text-align: right;
    height: 32px;
}

.icon-container>* {
    padding: 0 4px;
}


.project-container,
.performance-container {
    color: #ffffffe8;
    background-color: #7B68EE;
    border-radius: 8px;
    box-shadow: 0 4px 4px #333333;
    padding: 32px;
    max-width: 75%;
    margin: 32px auto;
}

.project-items,
.performance-items {
    background-color: white;
    color: black;
    border-radius: 8px;
}

.project-item-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0px 2px #333333;
}

.project-items-container,
.performance-items-container {
    padding: 16px 0;
}

.project-description-container {
    display: flex;
}

.project-description-container>* {
    padding: 0 32px;
}

.performance-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-bottom {
    max-width: 50%;
    margin: 0 auto;
}

#tech {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 4px;
    border: 2px solid #7B68EE;
    border-radius: 16px;
    width: 64px;
    height: 32px;
}

#tech:hover {
    background-color: #9c8fe9;
    border: none;
    color: white;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-container {
    width: 100%;
    /* max-width: 71.25rem; */
    margin: 0 auto;
}

.intro-inner {
    margin: 0 8rem;
    padding-top : 32px;
}

.intro-inner-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto 2rem;
    gap:8px;
}

.my-info {
    display: flex;
    flex-wrap:wrap;
    gap: 8px;
    justify-content: center;
}

.my-history {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.my-info-item-container {
    width: 33%;
}
.my-history-item-container {
    /* width: 33%; */
}

.my-info-item-inner {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 20rem;
    gap:16px;
}

.my-history-item-inner {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    /* max-width: 25rem; */
    gap:16px;
}