@media (min-width:950px) {
    #mypic {
        width : 256px!important;
    }   
}

@media (max-width: 500px) {
    .intro-inner {
        margin : 0;
    }
    
    .my-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .my-info > * {
        width: 100%!important;
    }

    .my-history-item-inner {
        min-width: 0!important;
    }
}

@media (max-width:1250px) {
    #main-bottom {
        max-width: 88%!important;
        margin: 0 auto!important;
        font-size: 0.8rem!important;
    }
    .project-description-container {
        flex-direction: column!important;
        align-items: center!important;
    }
    .performance-description {
        font-size: 0.4rem;
    }
}