@media (min-width:950px) {
    #mypic {
        width : 256px!important;
    }
    .intro-container,
    .project-container {
        max-width: 50%!important;
    }
}

@media (max-width:412px) {
    #main-bottom {
        max-width: 88%!important;
        margin: 0 auto!important;
        font-size: 0.8rem!important;
    }
}