@media (min-width:950px) {
    #mypic {
        width : 256px!important;
    }   
}

@media (max-width: 1765px) {
    .my-info-item-container {
        width: 40%;
    }
}

@media (max-width: 1152px) {
    .intro-container {
        max-width: 90%;
    }

    .intro-inner {
        margin : 0;
    }
    
    .my-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .my-info > * {
        width: 100%!important;
    }

    .my-history-item-inner {
        min-width: 0!important;
    }

    .project-container {
        max-width: 90%!important;
    }

    .project-description-container {
        flex-direction: column;
        align-items: center;
    }
    .outsourcing-description-content-container {
        width: 100%;
    }
    .outsourcing-description-container {
        flex-direction: column;
    }

    .outsourcing-img-container {
        width: initial;
    }

    .outsourcing-container {
        max-width: 90%!important;
    }

    .outsourcing-description-content-item-container {
        gap:16px;
    }
}