.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
    z-index: 3;
    display: none;
}

.modal-content-full-container {
    position: relative;
    margin: 150px 16px;
    background: white;
    height: calc(100% - 300px);
    border-radius: 16px;
}

.modal-content-container {

}


.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.w3-modal-content {
    background-color: #fff;
    position: absolute;
    width: 90%;
    left: 0;
    right: 0;
}