.customLogo-nodejs {
    background-color: #699f61;
    color: white;
    font-size: 0.7rem;
    border-radius: 8px;
    padding: 0 4px;
    font-weight: bold;
}

.customLogo-sapui5 {
    background-color: #126dad;
    color: white;
    font-size: 0.7rem;
    border-radius: 8px;
    padding: 0 4px;
    font-weight: bold;
}

.customLogo-js {
    background-color: #e0c22e;
    color: white;
    font-size: 0.7rem;
    border-radius: 8px;
    padding: 0 4px;
    font-weight: bold;
}

.customLogo-html5 {
    background-color: #de4720;
    color: white;
    font-size: 0.7rem;
    border-radius: 8px;
    padding: 0 4px;
    font-weight: bold;
}

.customLogo-css3 {
    background-color: #254bdd;
    color: white;
    font-size: 0.7rem;
    border-radius: 8px;
    padding: 0 4px;
    font-weight: bold;
}

.customLogo-mysql {
    background-color: #42759c;
    color: white;
    font-size: 0.7rem;
    border-radius: 8px;
    padding: 0 4px;
    font-weight: bold;
}

.customLogo-postgre {
    background-color: #316192;
    color: white;
    font-size: 0.7rem;
    border-radius: 8px;
    padding: 0 4px;
    font-weight: bold;
}

.customLogo-react {
    background-color: #5ed3f3;
    color: black;
    font-size: 0.7rem;
    border-radius: 8px;
    padding: 0 4px;
    font-weight: bold;
}

.customLogo-groovy {
    background-color: #6093a5;
    color: white;
    font-size: 0.7rem;
    border-radius: 8px;
    padding: 0 4px;
    font-weight: bold;
}

.customLogo-sap {
    background: linear-gradient(to bottom, #008FD3, #005CBF);
    color: white;
    font-size: 0.7rem;
    border-radius: 8px;
    padding: 0 4px;
    font-weight: bold;
}

.customLogo-twig {
    background-color: #bccf28;
    color: white;
    font-size: 0.7rem;
    border-radius: 8px;
    padding: 0 4px;
    font-weight: bold;
}

.customLogo-python {
    background-color: #3572A5;
    color: white;
    font-size: 0.7rem;
    border-radius: 8px;
    padding: 0 4px;
    font-weight: bold;
}

.customLogo-java {
    background-color: #b07219;
    color: white;
    font-size: 0.7rem;
    border-radius: 8px;
    padding: 0 4px;
    font-weight: bold;
}

.customLogo-ruby {
    background-color: #701516;
    color: white;
    font-size: 0.7rem;
    border-radius: 8px;
    padding: 0 4px;
    font-weight: bold;
}

.customLogo-c {
    background-color: #659ad2;
    color: white;
    font-size: 0.7rem;
    border-radius: 8px;
    padding: 0 4px;
    font-weight: bold;
}

.customLogo-cpp {
    background-color: #00599c;
    color: white;
    font-size: 0.7rem;
    border-radius: 8px;
    padding: 0 4px;
    font-weight: bold;
}

.customLogo-cs {
    background-color: #a078db;
    color: white;
    font-size: 0.7rem;
    border-radius: 8px;
    padding: 0 4px;
    font-weight: bold;
}

.customLogo-jquery {
    background-color: #0060a9;
    color: white;
    font-size: 0.7rem;
    border-radius: 8px;
    padding: 0 4px;
    font-weight: bold;
}

.customLogo-firebase {
    background-color: #f57c00;
    color: white;
    font-size: 0.7rem;
    border-radius: 8px;
    padding: 0 4px;
    font-weight: bold;
}

.customLogo-php {
    background-color: #7377ad;
    color: white;
    font-size: 0.7rem;
    border-radius: 8px;
    padding: 0 4px;
    font-weight: bold;
}

.customLogo-laravel {
    background-color: #ff291a;
    color: white;
    font-size: 0.7rem;
    border-radius: 8px;
    padding: 0 4px;
    font-weight: bold;
}