@media (max-width: 1500px) {
    .my-info-item-container {
        width: 100% !important;
    }

    .my-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width:950px) {
    #mypic {
        width: 256px !important;
    }
}

@media (max-width: 1765px) {
    .my-info-item-container {
        width: 40%;
    }
}

@media (max-width: 1152px) {
    .intro-container {
        max-width: 90%;
    }

    .intro-inner {
        margin: 0;
        padding-left: 8px;
        padding-right: 8px;
    }

    .my-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .my-info>* {
        width: 100% !important;
    }

    .my-history-item-inner {
        min-width: 0 !important;
    }

    .project-container {
        max-width: 90% !important;
    }

    .project-description-container {
        flex-direction: column;
        align-items: center;
    }

    .outsourcing-description-content-container {
        width: 100%;
    }

    .outsourcing-description-container {
        flex-direction: column;
    }

    .outsourcing-img-container {
        width: initial;
    }

    .outsourcing-container {
        max-width: 90% !important;
    }

    .outsourcing-description-content-item-container {
        gap: 16px;
    }

    .specializationLabel {
        position: absolute;
        color: white;
        margin-left: 8px;
        animation: slideInLeft 6s;
    }

    .my-cert-item-inner {
        flex-direction: column;
    }

    .link-wrap {
        display: none;
    }

    .mobile-link-wrap {
        display: flex;
        justify-content: space-evenly;
        height: 50px;
        border-bottom: 3px solid #7B68EE;
        /* align-items: center; */
    }

    .mobile-menu-nav {
        display: block;
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        z-index: 2;
        bottom: 0;
        background-color: #7B68EE;
    }

    .mobile-menu-wrap {
        position: relative;
        height: 100%;
    }

    #mobile-closeNav {
        position: absolute;
        cursor: pointer;
        top: 18px;
        right: 16px;
        color: #fff;
        width: 16px;
        filter: invert(1);
    }

    .mobile-menu-link-wrap {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        gap: 16px;
        color: white;
        padding-top: 32px;
    }

    #navBtn {
        width: 32px;
        cursor: pointer;
    }

    #mobileLogo {
        font-family: 'Gurajada';
        font-size: 2rem;
    }

    #mobile-openNav {
        position: absolute;
        left: 12px;
        top: 8px;
    }

    @keyframes fadein {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes slideInLeft {
        0% {
            opacity: 0;
            transform: translateX(-300px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}